@import "../../css/partials/helpers.scss";

.header__container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}

.header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 1;
  &.fixed{
    box-shadow: $box-shadow;
  }
}

.header__logo{
  max-width:20%;
  img{
    max-width: 100%;
  }
}

.header__menu{
  max-width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

.menu__item{
  font-size: 16px;
  display: inline-block;
  margin:0 10px;
  &:last-child{
    margin-right:0;
  }
}