.header__container
    .header__logo
        a(href="#" class="logo")
            img(src="../../images/logo.svg")
    nav.header__menu
        a(href="#" class="menu__item") Почему мы?
        a(href="#" class="menu__item") Номера
        a(href="#" class="menu__item") Отзывы
        a(href="#" class="menu__item") Как нас найти