/*Colors*/
$main-font-color: #1A212F;
$yellow: #FAC663;
$white-color:#FFFEFD;
$highlight: #3960cc;
$error-color: #f51d57;
$orange: #FF7236;
$light-gray:#e1e2eb;
$box-shadow:0 8px 24px -8px rgba(208, 208, 208, 0.25);
$box-shadow-hover:0 8px 24px -8px rgba(208, 208, 208, .8);
$mark: #faf5aa;
$h-color: #151B28;
$border-color:#E1E1E1;