@import "helpers.scss";

h1{
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.16px;
  line-height: 42px;
  margin: 20px 0;
  color: $h-color;
  font-family: 'Rubik', sans-serif;
}

h2{
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.16px;
  line-height: 40px;
  color: $h-color;
  font-family: 'Rubik', sans-serif;
}

h3{
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.08px;
  line-height: 28px;
  margin: 0;
  color: $h-color;
  font-family: 'Rubik', sans-serif;
}

h4{
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin: 0;
  color: $h-color;
}

p{
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  font-family: 'Lato', serif;
  margin: 12px 0;
  color: $h-color;
}

.center{
  text-align: center;
}

input{
  width: calc(100% - 8px);
}

input,select {
  border: 1px solid $border-color;
  padding: 3px;
  color: $main-font-color;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  transition: all .2s ease-in;
}

input:focus, select:focus{
  border-color:#9a9eb8;
  outline: none;
  transition: all .2s ease-in;
}

select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  background-position: 99% center;
  padding: 15px;
  width:100%;
}

a{
  color: $main-font-color;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
  outline: none;
}

a,button{
  outline: none;
  &:hover{
    cursor: pointer;
  }
}

mark{
  background: $mark;
}

img{
  max-width: 100%;
}