
<div class="form__container">
	<form class="form__wrapper" action="" id="main__form">
		<label class="label__wrapper" for=""><span class="form__placeholder">Цена за сутки, Р</span>
			<input type="text" name="min"/>
			<input type="text" name="max"/>
		</label>
		<label class="label__wrapper" for="confirm"><span class="form__placeholder">Площадь</span><span class="customCheckbox">0,63 м2
				<input type="checkbox" id="confirm"/><span class="customCheckbox__item"></span></span><span class="customCheckbox">0,90 м2
				<input type="checkbox" id="confirm"/><span class="customCheckbox__item"></span></span><span class="customCheckbox">1,13 м2
				<input type="checkbox" id="confirm"/><span class="customCheckbox__item"></span></span><span class="customCheckbox">1,56 м2
				<input type="checkbox" id="confirm"/><span class="customCheckbox__item"></span></span><span class="customCheckbox">2,56 м2
				<input type="checkbox" id="confirm"/><span class="customCheckbox__item"></span></span><span class="customCheckbox">2,56 м2
				<input type="checkbox" id="confirm"/><span class="customCheckbox__item"></span></span></label>
		<label class="label__wrapper" for="confirm"><span class="form__placeholder">Оснащение номера</span><span class="customCheckbox">Пустой номер
				<input type="checkbox" id="confirm"/><span class="customCheckbox__item"></span></span><span class="customCheckbox">Лежак
				<input type="checkbox" id="confirm"/><span class="customCheckbox__item"></span></span><span class="customCheckbox">Когтеточка
				<input type="checkbox" id="confirm"/><span class="customCheckbox__item"></span></span><span class="customCheckbox">Игровой комплекс
				<input type="checkbox" id="confirm"/><span class="customCheckbox__item"></span></span><span class="customCheckbox">Домик
				<input type="checkbox" id="confirm"/><span class="customCheckbox__item"></span></span></label>
		<div class="button__wrapper">
			<button class="btn">Применить</button><a class="btn">Сбросить фильтр</a>
		</div>
	</form>
</div>