.form__container
    form(action="" class="form__wrapper" id="main__form")
        label(for="" class="label__wrapper")
            span(class="form__placeholder") Цена за сутки, Р
            input(type="text" name="min")
            input(type="text" name="max")
        label(for="confirm" class="label__wrapper")
           span(class="form__placeholder") Площадь
           span(class="customCheckbox") 0,63 м2
               input(type="checkbox" id="confirm")
               span(class="customCheckbox__item")
           span(class="customCheckbox") 0,90 м2
               input(type="checkbox" id="confirm")
               span(class="customCheckbox__item")
           span(class="customCheckbox") 1,13 м2
               input(type="checkbox" id="confirm")
               span(class="customCheckbox__item")
           span(class="customCheckbox") 1,56 м2
               input(type="checkbox" id="confirm")
               span(class="customCheckbox__item")
           span(class="customCheckbox") 2,56 м2
               input(type="checkbox" id="confirm")
               span(class="customCheckbox__item")
           span(class="customCheckbox") 2,56 м2
               input(type="checkbox" id="confirm")
               span(class="customCheckbox__item")
        label(for="confirm" class="label__wrapper")
           span(class="form__placeholder") Оснащение номера
           span(class="customCheckbox") Пустой номер
               input(type="checkbox" id="confirm")
               span(class="customCheckbox__item")
           span(class="customCheckbox") Лежак
               input(type="checkbox" id="confirm")
               span(class="customCheckbox__item")
           span(class="customCheckbox") Когтеточка
               input(type="checkbox" id="confirm")
               span(class="customCheckbox__item")
           span(class="customCheckbox") Игровой комплекс
               input(type="checkbox" id="confirm")
               span(class="customCheckbox__item")
           span(class="customCheckbox") Домик
               input(type="checkbox" id="confirm")
               span(class="customCheckbox__item")
        .button__wrapper
            button(class="btn") Применить
            a(class="btn") Сбросить фильтр
