.cards__wrapper
    .cards__item
        .cards__image
            img(src="../../images/cat_card.jpg")
        .cards__description
            h3 Эконом
            p Размеры (ШхГхВ) - 160х160х180 см
            p Площадь - 2,56 м2
            p.
             Оснащение номера <img src='../../images/house_icon.svg'> <img src="../../images/clubok_icon.svg">
            p Цена за сутки <span class="cards__price">500Р</span>
            .button__wrapper
                a(class="btn btn_card" href="#") Забронировать
    .cards__item
        .cards__image
            img(src="../../images/cat_card.jpg")
        .cards__description
            h3 Эконом
            p Размеры (ШхГхВ) - 160х160х180 см
            p Площадь - 2,56 м2
            p.
             Оснащение номера <img src='../../images/house_icon.svg'> <img src="../../images/clubok_icon.svg">
            p Цена за сутки <span class="cards__price">500Р</span>
            .button__wrapper
                a(class="btn btn_card" href="#") Забронировать
    .cards__item
        .cards__image
            img(src="../../images/cat_card.jpg")
        .cards__description
            h3 Эконом
            p Размеры (ШхГхВ) - 160х160х180 см
            p Площадь - 2,56 м2
            p.
             Оснащение номера <img src='../../images/house_icon.svg'> <img src="../../images/clubok_icon.svg">
            p Цена за сутки <span class="cards__price">500Р</span>
            .button__wrapper
                a(class="btn btn_card" href="#") Забронировать
    .cards__item
        .cards__image
            img(src="../../images/cat_card.jpg")
        .cards__description
            h3 Эконом
            p Размеры (ШхГхВ) - 160х160х180 см
            p Площадь - 2,56 м2
            p.
             Оснащение номера <img src='../../images/house_icon.svg'> <img src="../../images/clubok_icon.svg">
            p Цена за сутки <span class="cards__price">500Р</span>
            .button__wrapper
                a(class="btn btn_card" href="#") Забронировать
    .cards__item
        .cards__image
            img(src="../../images/cat_card.jpg")
        .cards__description
            h3 Эконом
            p Размеры (ШхГхВ) - 160х160х180 см
            p Площадь - 2,56 м2
            p.
             Оснащение номера <img src='../../images/house_icon.svg'> <img src="../../images/clubok_icon.svg">
            p Цена за сутки <span class="cards__price">500Р</span>
            .button__wrapper
                a(class="btn btn_card" href="#") Забронировать
    .cards__item
        .cards__image
            img(src="../../images/cat_card.jpg")
        .cards__description
            h3 Эконом
            p Размеры (ШхГхВ) - 160х160х180 см
            p Площадь - 2,56 м2
            p.
             Оснащение номера <img src='../../images/house_icon.svg'> <img src="../../images/clubok_icon.svg">
            p Цена за сутки <span class="cards__price">500Р</span>
            .button__wrapper
                a(class="btn btn_card" href="#") Забронировать
    .cards__item
        .cards__image
            img(src="../../images/cat_card.jpg")
        .cards__description
            h3 Эконом
            p Размеры (ШхГхВ) - 160х160х180 см
            p Площадь - 2,56 м2
            p.
             Оснащение номера <img src='../../images/house_icon.svg'> <img src="../../images/clubok_icon.svg">
            p Цена за сутки <span class="cards__price">500Р</span>
            .button__wrapper
                a(class="btn btn_card" href="#") Забронировать
