
<div class="cards__wrapper">
	<div class="cards__item">
		<div class="cards__image"><img src="../../images/cat_card.jpg"/></div>
		<div class="cards__description">
			<h3>Эконом</h3>
			<p>Размеры (ШхГхВ) - 160х160х180 см</p>
			<p>Площадь - 2,56 м2</p>
			<p>Оснащение номера <img src='../../images/house_icon.svg'> <img src="../../images/clubok_icon.svg"></p>
			<p>Цена за сутки <span class="cards__price">500Р</span></p>
			<div class="button__wrapper"><a class="btn btn_card" href="#">Забронировать</a></div>
		</div>
	</div>
	<div class="cards__item">
		<div class="cards__image"><img src="../../images/cat_card.jpg"/></div>
		<div class="cards__description">
			<h3>Эконом</h3>
			<p>Размеры (ШхГхВ) - 160х160х180 см</p>
			<p>Площадь - 2,56 м2</p>
			<p>Оснащение номера <img src='../../images/house_icon.svg'> <img src="../../images/clubok_icon.svg"></p>
			<p>Цена за сутки <span class="cards__price">500Р</span></p>
			<div class="button__wrapper"><a class="btn btn_card" href="#">Забронировать</a></div>
		</div>
	</div>
	<div class="cards__item">
		<div class="cards__image"><img src="../../images/cat_card.jpg"/></div>
		<div class="cards__description">
			<h3>Эконом</h3>
			<p>Размеры (ШхГхВ) - 160х160х180 см</p>
			<p>Площадь - 2,56 м2</p>
			<p>Оснащение номера <img src='../../images/house_icon.svg'> <img src="../../images/clubok_icon.svg"></p>
			<p>Цена за сутки <span class="cards__price">500Р</span></p>
			<div class="button__wrapper"><a class="btn btn_card" href="#">Забронировать</a></div>
		</div>
	</div>
	<div class="cards__item">
		<div class="cards__image"><img src="../../images/cat_card.jpg"/></div>
		<div class="cards__description">
			<h3>Эконом</h3>
			<p>Размеры (ШхГхВ) - 160х160х180 см</p>
			<p>Площадь - 2,56 м2</p>
			<p>Оснащение номера <img src='../../images/house_icon.svg'> <img src="../../images/clubok_icon.svg"></p>
			<p>Цена за сутки <span class="cards__price">500Р</span></p>
			<div class="button__wrapper"><a class="btn btn_card" href="#">Забронировать</a></div>
		</div>
	</div>
	<div class="cards__item">
		<div class="cards__image"><img src="../../images/cat_card.jpg"/></div>
		<div class="cards__description">
			<h3>Эконом</h3>
			<p>Размеры (ШхГхВ) - 160х160х180 см</p>
			<p>Площадь - 2,56 м2</p>
			<p>Оснащение номера <img src='../../images/house_icon.svg'> <img src="../../images/clubok_icon.svg"></p>
			<p>Цена за сутки <span class="cards__price">500Р</span></p>
			<div class="button__wrapper"><a class="btn btn_card" href="#">Забронировать</a></div>
		</div>
	</div>
	<div class="cards__item">
		<div class="cards__image"><img src="../../images/cat_card.jpg"/></div>
		<div class="cards__description">
			<h3>Эконом</h3>
			<p>Размеры (ШхГхВ) - 160х160х180 см</p>
			<p>Площадь - 2,56 м2</p>
			<p>Оснащение номера <img src='../../images/house_icon.svg'> <img src="../../images/clubok_icon.svg"></p>
			<p>Цена за сутки <span class="cards__price">500Р</span></p>
			<div class="button__wrapper"><a class="btn btn_card" href="#">Забронировать</a></div>
		</div>
	</div>
	<div class="cards__item">
		<div class="cards__image"><img src="../../images/cat_card.jpg"/></div>
		<div class="cards__description">
			<h3>Эконом</h3>
			<p>Размеры (ШхГхВ) - 160х160х180 см</p>
			<p>Площадь - 2,56 м2</p>
			<p>Оснащение номера <img src='../../images/house_icon.svg'> <img src="../../images/clubok_icon.svg"></p>
			<p>Цена за сутки <span class="cards__price">500Р</span></p>
			<div class="button__wrapper"><a class="btn btn_card" href="#">Забронировать</a></div>
		</div>
	</div>
</div>